<div class="chartForm">
    <form [formGroup]="stockPickerForm">
        <mat-form-field>
            <input matInput placeholder="Symbol e.g AAPL" formControlName="symbol" value="" />
            <mat-error><span *ngIf="
              !stockPickerForm.get('symbol').valid &&
              stockPickerForm.get('symbol').touched
            ">Please enter a symbol</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="periodFromPicker" (focus)="periodFromPicker.open()"
                (click)="periodFromPicker.open()" readonly [max]="maxFromDate" placeholder="Period From"
                formControlName="periodFrom" (dateChange)="onPeriodChange()">
            <mat-datepicker-toggle matSuffix [for]="periodFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #periodFromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="periodToPicker" (focus)="periodToPicker.open()"
                (click)="periodToPicker.open()" readonly [max]="maxDate" placeholder="Period To"
                formControlName="periodTo" (dateChange)="onPeriodChange()">
            <mat-datepicker-toggle matSuffix [for]="periodToPicker"></mat-datepicker-toggle>
            <mat-datepicker #periodToPicker></mat-datepicker>
        </mat-form-field>
    </form>

    <coding-challenge-chart [data]="quotes$ | async"></coding-challenge-chart>
</div>